-
    const paymentMethods = [
    {
    "logoSrc": "../files/logo-qiwi@2x.png",
    "title": "Qiwi",
    },
    {
    "logoSrc": "../files/logo-beeline@2x.png",
    "title": "Beeline",
    },
    {
    "logoSrc": "../files/logo-megafon@2x.png",
    "title": "Megafon",
    },
    {
    "logoSrc": "../files/logo-mts@2x.png",
    "title": "MTS",
    },
    {
    "logoSrc": "../files/logo-tele2@2x.png",
    "title": "Tele2",
    }
    ];

    const news = [
    {
    "title": "Доход по-итальянски.&nbsp;3&nbsp;огненные ставки на&nbsp;тур Серии&nbsp;А",
    "photoAltText": "Доход по-итальянски. 3 огненные ставки на тур Серии А",
    "photoSrcM": "../files/news1-m.jpg",
    "photoSrc": "../files/news1.jpg",
    "date": "11:24, 19&nbsp;октября 2018",
    "isBig": true,
    },
    {
    "title": "Фернандеш обиделся на&nbsp;&ldquo;Локомотив&rdquo;",
    "photoAltText": "Фернандеш обиделся на \"Локомотив\"",
    "photoSrcM": "../files/newsSmall1-m.jpg",
    "photoSrc": "../files/newsSmall1.jpg",
    "date": "11:24, 19&nbsp;октября 2018",
    "isBig": false,
    },
    {
    "title": "Фернандеш обиделся на&nbsp;&ldquo;Локомотив&rdquo;",
    "photoAltText": "Фернандеш обиделся на \"Локомотив\"",
    "photoSrcM": "../files/newsSmall2-m.jpg",
    "photoSrc": "../files/newsSmall2.jpg",
    "date": "11:24, 19&nbsp;октября 2018",
    "isBig": false,
    }
    ];
