head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{pageTitle}
    meta(name='description', content='')

    meta(name='viewport', content='width=device-width')

    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet")

    block head

    include _favicon

    block styles

    link(rel='stylesheet', href='../media/styles/styles.min.css')

    block scripts
    script(src='../media/scripts/scripts.js')
